<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>352985336929-ng7jse0ntqinrh2hadfnq2srep8lajgs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.352985336929-ng7jse0ntqinrh2hadfnq2srep8lajgs</string>
	<key>API_KEY</key>
	<string>AIzaSyCfhjBAIt4VK0mCwHnnjKSUvVroPFcACGc</string>
	<key>GCM_SENDER_ID</key>
	<string>352985336929</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.knightclub.app</string>
	<key>PROJECT_ID</key>
	<string>knight-riders-dd270</string>
	<key>STORAGE_BUCKET</key>
	<string>knight-riders-dd270.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:352985336929:ios:380844c87fcfb685982e20</string>
</dict>
</plist>